<!DOCTYPE html>

<html>

<head>
    <title>To Do List</title>
    <link rel="icon" href="/img/todolist.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Login</p>

        <form method="POST" action="/user/login">
            <input id="username" placeholder="User Name"><br><Br>
            <input id="password" placeholder="Password" type="password"><br><br>
            <button type="submit">Login</button>
        </form>

        <p id="message-1"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>